<div class="row"
     *ngIf="this.blogs != null">

  <div *ngFor="let b of this.blogs"
       class="col-sm-4 mb-4">

    <div class="card border border-3 border-primary">
      <div class="card-body">
        <h5 class="card-title display-6 py-3">
          {{b.title}}
        </h5>
        <a class="btn btn-primary mx-1"
           routerLink="/read/{{b.id}}">
           
          Read
        </a>
        <a class="btn btn-warning mx-1"
           routerLink="/update/{{b.id}}">
           
          Update
        </a>
        <a class="btn btn-danger mx-1"
           routerLink="/delete/{{b.id}}">
        
          Delete
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="this.blogs.length == 0">
    <h5 class="display-5 text-center">
      No blogs have been posted yet!
    </h5>
  </div>
</div>
